<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_kutuphane_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=kutuphane" />
        <add name="Kişisel_Kütüphane.Properties.Settings.kutuphaneConnectionString"
            connectionString="Data Source=PHOENIX2071;Initial Catalog=kutuphane;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
