@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{

	margin: 0 auto;
	padding: 0;
	background: url(https://i.hizliresim.com/LvWzDZ.jpg) center fixed;
	background-size: cover;

}

.container{

	margin: auto;
	background: rgba(0,0,0,0.6);
	font-family: 'Raleway';
	color: white;

}

